* {
  box-sizing: border-box;
}

.clr {
  clear: both;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  display: block;
}

html::after {
  content: "";
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  background-position: center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  text-align: center;
  font-family: 'Press Start 2p', serif;
  color: #bee4f2;
  background-color: #292929;
  width: 80%;
  padding: 0.5em;
  margin-left: 1.25em;
}

.instructions {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 2em;
  font-family: 'Germania One', cursive;
}

.top-row {
  margin-top: 1em;
  font-size: 1.5em;
}

.target {
  display: inline-block;
  float: left;
  width: 40%;
}

.record {
  display: inline-block;
  float: left;
  width: 60%;
}

.wins, .losses {
  display: inline-block;
  float: left;
  width: 50%;
}

.crystal-group {
  width: 100%;
  margin: 2em auto 0 auto;
}

.c1, .c2, .c3, .c4 {
  width: 12%;
  height: auto;
  margin: 1em 2.5em 1em 2.5em;
  cursor: pointer;
}

.bottom-row {
  margin-top: 3em;
  position: relative;
}

.score {
  font-size: 1.5em;
  display: inline-block;
  float: left;
}

.alert {
  display: inline-block;
  float: right;
  position: absolute;
  right: 6em;
  font-size: 1.5em;
}

.left-block {
  display: inline-block;
  float: left;
  width: 40vw;
}

.right-block {
  display: inline-block;
  float: left;
  width: 55vw;
  font-family: 'Abril Fatface';
  font-size: 1em;
}
