* {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.instructions {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 2em;
}

#crystals {
  width: 80%;
  margin: 0 auto 0 auto
}

.c1, .c2, .c3, .c4 {
  width: 15%;
  height: auto;
  margin: 2.5em; 
}
