* {
  box-sizing: border-box;
}

.clr {
  clear: both;
}

.title {
  text-align: center;
}

.instructions {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 2em;
}

.top-row {
  margin-top: 1em;
  font-size: 1.5em;
}

.target {
  display: inline-block;
  float: left;
  width: 40%;
}

.record {
  display: inline-block;
  float: left;
  width: 60%;
}

.wins, .losses {
  display: inline-block;
  float: left;
  width: 50%;
}

.crystal-group {
  width: 100%;
  margin: 2em auto 0 auto;
}

.c1, .c2, .c3, .c4 {
  width: 12%;
  height: auto;
  margin: 1em 2.5em 1em 2.5em;
  cursor: pointer;
}

.score {
  margin-top: 3em;
  font-size: 1.5em;
}

.left-block {
  display: inline-block;
  float: left;
  width: 40vw;
}

.right-block {
  display: inline-block;
  float: left;
  width: 55vw;
}
